.container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    width: 910px;
    height: auto;
    margin: 0 auto;
    background: #fff;
}

header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 54px;
}

.phones {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 19px 0 0;
    padding-left: 31px;
    background: url('../img/i_phone.png') no-repeat 6px 4px;
    color: #5e696d;
    font: 18px/28px Arial;
    letter-spacing: .5px;
}

.phones p {
    padding-right: 5px;
}

.account-enter {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    width: 471px;
    height: 27px;
    margin: 17px 0 0 10px;
    padding-left: 24px;
    border-radius: 4px;
    background: url('../img/i_autoriz.png') no-repeat 7px 5px, -moz-linear-gradient(top, rgba(32, 105, 136, 1) 0%, rgba(17, 65, 101, 1) 59%, rgba(12, 50, 86, 1) 100%);
    background: url('../img/i_autoriz.png') no-repeat 7px 5px, -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32, 105, 136, 1)), color-stop(59%, rgba(17, 65, 101, 1)), color-stop(100%, rgba(12, 50, 86, 1)));
    background: url('../img/i_autoriz.png') no-repeat 7px 5px, -webkit-linear-gradient(top, rgba(32, 105, 136, 1) 0%, rgba(17, 65, 101, 1) 59%, rgba(12, 50, 86, 1) 100%);
    background: url('../img/i_autoriz.png') no-repeat 7px 5px, -o-linear-gradient(top, rgba(32, 105, 136, 1) 0%, rgba(17, 65, 101, 1) 59%, rgba(12, 50, 86, 1) 100%);
    background: url('../img/i_autoriz.png') no-repeat 7px 5px, -ms-linear-gradient(top, rgba(32, 105, 136, 1) 0%, rgba(17, 65, 101, 1) 59%, rgba(12, 50, 86, 1) 100%);
    background: url('../img/i_autoriz.png') no-repeat 7px 5px, linear-gradient(to bottom, rgba(32, 105, 136, 1) 0%, rgba(17, 65, 101, 1) 59%, rgba(12, 50, 86, 1) 100%);
    font: 10px Lucida Sans Unicode;
    -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, .3);
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, .3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#206988', endColorstr='#0c3256', GradientType=0);
}

.enter-forms {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.enter-forms input {
    display: block;
    width: 108px;
    height: 12px;
    margin-right: 5px;
    padding: 0 0 3px 4px;
    color: #97a2a6;
    font: 10px Lucida Sans Unicode;
}

.enter-forms .btn-enter {
    width: 35px;
    margin: 2px 0 0 -2px;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.reg-link {
    position: relative;
    height: 27px;
    padding-left: 6px;
}

.reg-link a {
    color: #fff;
    line-height: 27px;
    text-decoration: none;
}

.vert-line {
    position: absolute;
    top: 9px;
    left: 0;
    height: 10px;
    border-left: 1px solid #d2d8dd;
}

.password-recovery a {
    padding: 0 0 0 22px;
    color: #bfbfbf;
    font-size: 12px;
    line-height: 27px;
}

.nav-icons {
    width: 75px;
    height: 20px;
    margin: 18px 0 0 17px;
    padding: 1px 0 0;
    border: 1px solid #c1c8cb;
    border-radius: 11px;
    -moz-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, .3);
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, .3);
}

.nav-icons ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}

.home-icon img {
    padding: 0 0 0 6px;
}

.site-map-icon {
    padding: 0 0 0 2px;
}

.letter-icon {
    padding: 0 8px 0 2px;
}

.banner {
    height: 237px;
    margin: auto;
    text-align: center;
}

.main-menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    height: 32px;
    margin-top: 6px;
    border: 1px solid #4e5474;
    border-radius: 3px;
    background: rgba(87, 96, 104, 1);
    background: -moz-linear-gradient(top, rgba(87, 96, 104, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(87, 96, 104, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(87, 96, 104, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(87, 96, 104, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(87, 96, 104, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(87, 96, 104, 1) 0%, rgba(0, 0, 0, 1) 100%);
    -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, .3);
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, .3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#576068', endColorstr='#000', GradientType=0);
}

.main-menu ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin-right: 51px;
}

.main-menu li:nth-child(1) {
    padding: 0 18px 0 20px;
}

.main-menu li:nth-child(2) {
    padding: 0 14px;
}

.main-menu li:nth-child(3) {
    padding: 0 14px;
}

.main-menu li:nth-child(4) {
    padding: 0 13px;
}

.main-menu li:nth-child(5) {
    padding: 0 12px;
}

.main-menu a {
    display: block;
    height: 26px;
    color: #b1bcc0;
    font: 14px/26px Lucida Sans Unicode;
    text-decoration: none;
    text-transform: uppercase;
}

.main-menu li:hover {
    border-radius: 13px;
    background: rgba(32, 105, 136, 1);
    background: -moz-linear-gradient(top, rgba(32, 105, 136, 1) 0%, rgba(17, 65, 101, 1) 59%, rgba(12, 50, 86, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32, 105, 136, 1)), color-stop(59%, rgba(17, 65, 101, 1)), color-stop(100%, rgba(12, 50, 86, 1)));
    background: -webkit-linear-gradient(top, rgba(32, 105, 136, 1) 0%, rgba(17, 65, 101, 1) 59%, rgba(12, 50, 86, 1) 100%);
    background: -o-linear-gradient(top, rgba(32, 105, 136, 1) 0%, rgba(17, 65, 101, 1) 59%, rgba(12, 50, 86, 1) 100%);
    background: -ms-linear-gradient(top, rgba(32, 105, 136, 1) 0%, rgba(17, 65, 101, 1) 59%, rgba(12, 50, 86, 1) 100%);
    background: linear-gradient(to bottom, rgba(32, 105, 136, 1) 0%, rgba(17, 65, 101, 1) 59%, rgba(12, 50, 86, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#206988', endColorstr='#0c3256', GradientType=0);
}

.main-menu a:hover {
    color: #fff;
}

.cart {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 199px;
    padding-left: 35px;
    background: url('../img/i_cart.png') no-repeat 7px 7px;
    color: #929b9f;
    font: 11px/31px Arial;
}

.amount {
    width: 22px;
    padding-left: 2px;
    color: #0d5a8f;
    font-size: 12px;
    font-weight: bold;
}

.sum {
    width: 60px;
    padding-left: 12px;
    color: #0d5a8f;
    font-size: 12px;
    font-weight: bold;
}

.search-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 15px;
    padding: 12px 0 0 4px;
}

.search-container div {
    height: 135px;
    border: 1px solid #9c9c9d;
    border-radius: 18px;
    text-align: center;
    -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
    box-sizing: border-box;
}

.search-1 {
    width: 415px;
    margin-right: 13px;
}

.search-2 {
    width: 193px;
    margin-right: 9px;
}

.search-3 {
    width: 270px;
}

.center-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.sidebar-left {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-right: 10px;
}

.catalog,
.brands-filter {
    color: #114165;
    font-family: Lucida Sans Unicode;
}

.catalog {
    margin-top: 3px;
}

.module-title-left {
    width: 100%;
    height: 27px;
    margin-bottom: 12px;
    padding-left: 25px;
    border: 1px solid #79878d;
    border-radius: 12px;
    background: url('../img/i_title.png') no-repeat 1px;
    font-size: 13px;
    letter-spacing: -.2px;
    line-height: 27px;
    text-transform: uppercase;
    -moz-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, .3);
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, .3);
    box-sizing: border-box;
}

.category-title-left {
    width: 150px;
    height: 28px;
    padding: 0 0 0 28px;
    border: 1px solid #79878d;
    border-radius: 12px;
    background: url('../img/category_marker.png') no-repeat 3px 1px;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.category-row li {
    height: 16px;
    margin: 3px 0 10px 36px;
}

.category-row li:last-child {
    margin-bottom: 3px;
}

.category-row a {
    position: relative;
    padding-left: 10px;
    color: #465961;
    font-size: 12px;
    text-decoration: none;
}

.category-row a:hover {
    color: #0c3256;
    font: bold italic 15px Arial;
    letter-spacing: -.4px;
    text-decoration: underline;
}

.category-row a::before {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 6px;
    height: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #8f999e;
    content: '';
}

.category-row a::after {
    display: block;
    position: absolute;
    top: 7px;
    left: 2px;
    width: 2px;
    height: 2px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: #fff;
    content: '';
}

.category-row a:hover::before {
    background: #0c3256;
}

.content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    width: 526px;
    padding: 12px 0;
    border-radius: 2px;
    background: rgba(229, 231, 232, .49);
    background: -moz-linear-gradient(top, rgba(229, 231, 232, .49) 0%, rgba(147, 167, 176, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229, 231, 232, .49)), color-stop(100%, rgba(147, 167, 176, 1)));
    background: -webkit-linear-gradient(top, rgba(229, 231, 232, .49) 0%, rgba(147, 167, 176, 1) 100%);
    background: -o-linear-gradient(top, rgba(229, 231, 232, .49) 0%, rgba(147, 167, 176, 1) 100%);
    background: -ms-linear-gradient(top, rgba(229, 231, 232, .49) 0%, rgba(147, 167, 176, 1) 100%);
    background: linear-gradient(to bottom, rgba(229, 231, 232, .49) 0%, rgba(147, 167, 176, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e7e8', endColorstr='#93a7b0', GradientType=0);
}

.product {
    width: 139px;
    height: 178px;
    margin: 0 7px 23px 22px;
    text-align: center;
}

.product-brend {
    color: #206988;
    font: bold 15px Lucida Sans Unicode;
    letter-spacing: -1px;
}

.product-model {
    color: #1f2528;
    font: 13px Lucida Sans Unicode;
    line-height: 10px;
}

.product-photo {
    margin-top: 3px;
    padding: 3px 0;
    border: 1px solid #a4aeb1;
    border-radius: 7px;
    background-color: #fff;
}

.product-price {
    margin-top: 2px;
    padding-left: 15px;
    color: #114165;
    font: bold italic 17px Arial;
}

.sidebar-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    width: 181px;
    margin-left: 10px;
}

.brands-filter {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}

.module-title-right {
    width: 100%;
    height: 27px;
    margin-bottom: 15px;
    padding-left: 30px;
    border: 1px solid #79878d;
    border-radius: 12px;
    background: url('../img/i_title.png') no-repeat 2px;
    font-size: 13px;
    letter-spacing: .4px;
    line-height: 27px;
    text-transform: uppercase;
    -moz-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, .3);
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, .3);
    box-sizing: border-box;
}

.category-title-right {
    width: 135px;
    height: 28px;
    margin-bottom: 2px;
    padding: 0 0 0 28px;
    border: 1px solid #79878d;
    border-radius: 12px;
    background: url('../img/category_marker.png') no-repeat 3px 1px;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.check-brands {
    margin-left: 15px;
}

.check-brands fieldset input {
    width: 8px;
    height: 8px;
    margin-right: 15px;
    outline: #114165 solid 1px;
    -moz-box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, .74);
    -webkit-box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, .74);
    box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, .74);
}

fieldset {
    margin-bottom: 8px;
}

.brands-filter p {
    padding-left: 5px;
    color: #465961;
    font-size: 13px;
    line-height: 25px;
}

.btn-selection {
    width: 80px;
    height: 26px;
    margin: 10px 0 0 10px;
    border: 1px solid #a7abae;
    border-radius: 9px;
    background: rgba(32, 105, 136, .49);
    background: -moz-linear-gradient(top, rgba(32, 105, 136, .49) 0%, rgba(17, 65, 101, .79) 59%, rgba(12, 50, 86, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32, 105, 136, .49)), color-stop(59%, rgba(17, 65, 101, .79)), color-stop(100%, rgba(12, 50, 86, 1)));
    background: -webkit-linear-gradient(top, rgba(32, 105, 136, .49) 0%, rgba(17, 65, 101, .79) 59%, rgba(12, 50, 86, 1) 100%);
    background: -o-linear-gradient(top, rgba(32, 105, 136, .49) 0%, rgba(17, 65, 101, .79) 59%, rgba(12, 50, 86, 1) 100%);
    background: -ms-linear-gradient(top, rgba(32, 105, 136, .49) 0%, rgba(17, 65, 101, .79) 59%, rgba(12, 50, 86, 1) 100%);
    background: linear-gradient(to bottom, rgba(32, 105, 136, .49) 0%, rgba(17, 65, 101, .79) 59%, rgba(12, 50, 86, 1) 100%);
    color: #e5e9ea;
    font: bold 11px Arial;
    text-transform: uppercase;
    -moz-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .2);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#206988', endColorstr='#0c3256', GradientType=0);
}

.bottom-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    height: 21px;
    margin: 42px 0 27px;
}

.bottom-container a {
    display: block;
    padding: 0 7px;
}

footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    border-top: 1px solid #242a3c;
    border-right: 1px solid #242a3c;
    border-left: 1px solid #242a3c;
    background: #213a4d;
    box-sizing: border-box;
}

.footer-menu {
    margin: 9px 0 13px;
}

.footer-menu ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    color: #bec6c9;
    font-size: 11px;
    font-weight: bold;
}

.footer-menu a {
    margin: 0 12px;
    color: #bec6c9;
    font: 12px Arial;
    text-decoration: none;
}

.footer-menu a:hover {
    color: #52abcb;
}

.copyright {
    color: #7f4740;
    font: 10px Arial;
}
